header {
  background-color: #669999;
  padding: 30px;
  margin: 8px;
  text-align: center;
  font-family: serif;
  font-style: bold;
  font-size: 25px;
  color: white;
}
footer{
  background-color:  #e6f2ff;
  padding: 30px;
  margin-top: 110px;
  text-align: center;
  font-family: serif;
  font-style: bold;
  font-size: 25px;
  color: gray;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.custompanel{ 
  margin-left: auto;
  margin-right: auto;
  width: 140%;
}
.panelhead{font-style: bold;font-family: serif;font-size: 20px;}
.button{
  border: none;
  color: white;
  padding: 8px 10px;
  font-size: 15px;
  cursor: pointer;
  display: inline-block;
}
/* Darker background on mouse-over */
.button:hover {
  background-color: Black;
}
.button1{margin-left: 75%;background-color: #ff6666;border-radius: 5px;}
table {
  border-collapse: collapse;
  width: 70%;
  margin-top: 2%;
  margin-left:50px;
}
th, td {
  text-align: left;
  padding: 10%;
}